
.first-class{
    color:black;
    background-color: pink;
    font-size: 25px;
}

#first-unique{

    color:blue;
    font-size: 36px;
    background-color: white;

}

#second-unique{

   
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;

}